# config/services.yaml

parameters:
    openai_api_key: '%env(GEMINI_API_KEY)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    App\:
        resource: '../src/'

    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    App\Service\OpenAIService:
        arguments:
           $apiKey: '%env(GROQ_API_KEY)%'           # ← on passe la clé Groq
           $model: '%env(GROQ_MODEL)%'
