/* ================= Base ================= */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Background général */
body {
    background-color: skyblue;
}

/* ================= Sidebar ================= */
.sidebar {
    width: 280px;
    min-width: 280px;
    background-color: #111c28 !important;
}

/* Sidebar items */
.list-group-item {
    border: none !important;
    background: transparent;
    color: #94a3b8 !important;
    padding: 10px 15px;
    font-size: 0.9rem;
    border-radius: 8px !important;
    margin-bottom: 2px;
    transition: all 0.2s;
}

.list-group-item:hover {
    color: #fff !important;
    background: rgba(255, 255, 255, 0.05) !important;
}

.list-group-item.active {
    background-color: #0d6efd !important;
    color: #fff !important;
}

/* ================= Search Bar ================= */
.form-control:focus {
    background-color: #fff !important;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.1);
}

/* Loupe plus visible */
.bi-search {
    font-size: 18px;
    color: black !important;
    opacity: 1;
}


/* ================= Avatar ================= */
.avatar-img {
    object-fit: cover;
}

/* Background soft */
.bg-primary-soft {
    background-color: rgba(13, 110, 253, 0.1);
}