{% extends 'base.html.twig' %}

{% block body %}
    <!-- Header -->
    {% include 'layout/header.html.twig' %}

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include 'layout/footer.html.twig' %}
{% endblock %}
